<div class="shadow-md border rounded">
  <app-data-grid [data]="cart$ | async" [headers]="['LP','TITLE', 'IMAGE', 'COUNT', 'ACTIONS']">
    <ng-template let-item let-lp="nr">
      <td>{{lp}}</td>
      <td>{{item.title}}</td>
      <td><img [src]="item.imgSrc" width="50"></td>
      <td>
        <mat-icon [matBadge]="item.count" matBadgeColor="warn"></mat-icon>
      </td>
      <td class="flex gap-2 items-center">
        <button mat-mini-fab (click)="add(item)">+</button>
        <button mat-mini-fab (click)="remove(item)">-</button>
        <mat-checkbox [checked]="item.suspend" (change)="suspend($event.checked,item)">
          suspend
        </mat-checkbox>
      </td>
    </ng-template>
  </app-data-grid>
</div>
<div class="mt-4">
  <button [disabled]="!(itemsToBuy$ | async).length" color="primary" mat-raised-button (click)="buy()">buy</button>
</div>
