<div class="ml-4" *ngIf="data$ | async as data">
  <mat-card>
    <mat-card-title>
      {{data.title}}
    </mat-card-title>
    <mat-card-subtitle>
      price: {{data.price}}
      <br>
      id: {{data.id}}
    </mat-card-subtitle>
    <mat-card-content>
      <img [src]="data.imgSrc" height="100">
    </mat-card-content>
  </mat-card>
</div>
