<div class="flex">
  <div class="flex-auto shadow-md border rounded">
    <app-data-grid [data]="items$ | async" [headers]="['LP', 'TITLE', 'IMAGE', 'ACTIONS']">
      <ng-template let-item let-lp="nr">
        <td>{{lp}}</td>
        <td>{{ item.title }}</td>
        <td><img [src]="item.imgSrc" width="50" /></td>
        <td>
          <a mat-icon-button (click)="buy(item)">
            <mat-icon>add_shopping_cart</mat-icon>
          </a>
          <a [routerLink]="[item.id]">
            <mat-icon color="accent">more</mat-icon>
          </a>
        </td>
      </ng-template>
    </app-data-grid>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
