.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  @apply shadow;
}

.mat-list-base {
  padding-top: 0 !important;
}

.mat-toolbar.mat-primary {
  @apply bg-neutral-100 shadow text-black mb-0.5;
}

.active-list-item {
  @apply bg-neutral-50;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.mdc-list {
  padding: 0;
}
