<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <a mat-list-item routerLink="/">
        <img class="w-24" src="https://debugger.pl/assets/vectors/logo.svg" alt="">
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-list-item" routerLink="items">items</a>
      <a mat-list-item routerLinkActive="active-list-item" routerLink="cart">cart</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="grow-1 flex">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <app-toolbar [cartCount]="cartCount$ | async"></app-toolbar>
        &nbsp;&nbsp;&nbsp;
        <app-spinner [loading]="(loading$ | async) || false"></app-spinner>
      </div>
      <small>v. {{ version }}</small>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
        <div class="mt-8 opacity-60">
          <mft-wc-wrapper [options]="footer"></mft-wc-wrapper>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-sidenav-content>
</mat-sidenav-container>
