<h1 class="text-2xl font-bold">Szkolenie Angular NgRx</h1>
<h2 class="text-gray-400 text-xl ">Demo aplikacji</h2>

<br>
<p>
  Aplikacja stanowi część szkolenia.
  <br>
  Jest sposobem na utrwalenie materiału oraz pomaga lepiej zrozumieć poruszane podczas szkolenia zagadnienia.
  <br>
  Jej celem są kwestie edukacyjne a nie aplikacja sama w sobie.
</p>
